<nav class="navbar navbar-light" style="padding: 10px 30px 10px 30px; background-color: #eadce7" href="#">
  <a class="navbar-brand" style="font-weight: bold; font-size: 30px;">Café da manhã</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/cadastrar" type="submit" style="background-color: #dceae6; border: none; box-shadow: 5px 5px 18px #888888;">Cadastrar</button>
  </form>
</nav>
<div class="container">
  <table class="table" style=" margin: auto; max-width: 950px; padding: 20px 30px 20px 30px; border-radius: 5px; margin-top: 150px; margin-bottom: 100px;">
    <thead>
      <tr>
        <th id="number" scope="col">Nº</th>
        <th id="tbl_name" scope="col">Nome</th>
        <th id="tbl_2name" scope="col">Sobrenome</th>
        <th id="tbl_cpf" scope="col">Cpf</th>
        <th id="tbl_food" scope="col">Prato</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of funcionarios">
        <th scope="row">{{funcionario.id}}</th>
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.sobrenome}}</td>
        <td>{{funcionario.cpf}}</td>
        <td>{{funcionario.prato}}</td>
        <td><button id="btn_update" class="btn btn-primary" type="button" style="background-color: #dceae6; border: none; color: black; box-shadow: 5px 10px 12px #888888; margin-right: 10px; padding: 5px 25px;"[routerLink]="['/cadastrar', funcionario.id]">Atualizar</button></td>
        <td>    <button id="btn_delete" class="btn btn-primary" type="button" style="background-color: #dceae6; border: none; color: black; box-shadow: 5px 10px 12px #888888; padding: 5px 30px;" (click)="excluir(funcionario)">Excluir</button></td>
      </tr>
    </tbody>
  </table>

</div>

